@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */
h1, h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    padding-left: 30px;
}

.sub-logo {
    color: #331a8d;
    font-size: 130%;
    font-family: Ubuntu, sans-serif;
    float: left;
    clear: both;
    padding-left: 30px;
    letter-spacing: 2px;
}

/* navigation links */

#menu {
    font-family: Ubuntu, sans-serif;
    font-size: 110%;
    letter-spacing: 4px;
    text-align: right;
}

#menu {
    line-height: 75px;
}

#menu li {
    display: inline;
    text-align: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #3909e6;
}

.active {
    border-bottom: 1px solid #252525;
}